<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png"/>
    <meta name="description" content="Dashboard for village 88 forum">
    <meta name="author" content="Jhaver Gurtiza">
    <title>The Wall Dashboard</title>

    <!-- Less -->
    <link rel="stylesheet" href="../assets/css/global.css"/>
    <link rel="stylesheet" href="../assets/css/wall.css"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="../assets/images/the_wall_small_logo.svg" alt="The Wall Logo">
            <div class="profile_container">
                <span>Jhaver Gurtiza</span>
                <a href="login.html" id="logout_btn">Logout</a>
            </div>
        </header>
        <section id="dashboard_content">
            <h2>Hello <span class="profile_name">Jhaver</span>,</h2>
            <h1>Welcome to V88 Forum Dashboard</h1>
            <form id="post_topic_form">
                <textarea placeholder="Post your Topic..."></textarea>
                <button type="submit">Post</button>
            </form>
            <h3>Recent Forums</h3>
            <p class="empty_forum_text">No post yet.</p>
            <ul id="forum_list"></ul>
        </section>
        <ul id="clone_post_container" class="hidden">
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi soluta voluptas molestias tempore ipsam explicabo laborum magnam quo sint eos eveniet, nisi hic nostrum accusantium! Perspiciatis exercitationem hic omnis consequatur.</p>
                <div class="forum_details">
                    <span class="profile_name">Jhaver Gurtiza (few sec ago)</span><span class="response_counter">0 Responses</span>
                    <div class="action_container">
                        <button type="button" class="edit_btn"></button>
                        <button type="button" class="delete_btn"></button>
                        <div class="confirm_delete_container"><p>Confirm Delete?</p><button class="no_btn">No</button><button class="yes_btn">Yes</button></div>
                    </div>
                </div>
                <form class="edit_response_form">
                    <textarea placeholder="Post your response..."></textarea>
                    <button type="submit">Comment</button>
                </form>
                <ul class="response_list"></ul>
            </li>
        </ul>
    </div>
    
    <!-- Scripts -->
    <script src="./../assets/js/wall.js"></script>
</body> 
</html>