<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png"/>
    <meta name="description" content="Login or Register form of the wall assignment">
    <meta name="author" content="Jerwin A. Fernandez">
    <title>The Wall | Log in Page</title>

    <!-- Less -->
    <link rel="stylesheet" href="../assets/css/global.css"/>
    <link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>

    <div id="wrapper">
        <section id="signup_container">
            <img src="../assets/images/the_wall_big_logo.svg" alt="The Wall Logo">
            <h2>Welcome</h2>
            <h1>Login your account.</h1>
            <form id="login_form">
                <label for="email_login_input">Email</label>
                <input type="email" id="email_login_input">
                <label for="password_login_input">Password</label>
                <input type="password" id="password_login_input">
                <button type="submit">Log in</button>
                <p>Don’t have an account? <a href="index.html">Sign up</a></p>
            </form>
        </section>
        <a href="wall.html" class="hidden" id="dashboard_link"></a>
    </div>
 
    <!-- Scripts -->
    <script src="./../assets/js/index.js"></script>
</body>
</html>