body {
  background-color: #2C2D34;
}
#wrapper header {
  background-color: #1E1F25;
  height: 62px;
  position: fixed;
  top: 0px;
  vertical-align: top;
  width: 100%;
  z-index: 50;
}
#wrapper header img {
  margin: 17px 26px;
}
#wrapper header .profile_container {
  position: absolute;
  right: 0px;
  top: 0px;
}
#wrapper header .profile_container a,
#wrapper header .profile_container span {
  color: #fff;
  display: inline-block;
  font: 14px/16px robotoRegular, sans-serif;
  height: 60px;
  padding: 22px 26px;
  vertical-align: top;
}
#wrapper header .profile_container a {
  border-left: 1px solid #3A3C46;
  text-decoration: none;
}
#wrapper header .profile_container a:hover {
  background-color: #00a3ff;
}
#wrapper header .profile_container a::before {
  background-image: url("../images/the_wall_sprite_icon.svg");
  background-position: 100% 50%;
  content: "";
  display: inline-block;
  height: 13px;
  margin-right: 10px;
  vertical-align: top;
  width: 13px;
}
#wrapper section {
  margin: 111px auto 0px auto;
  width: 978px;
}
#wrapper section h2 {
  color: #fff;
  font: 21px/24px robotoRegular, sans-serif;
  margin-bottom: 7px;
}
#wrapper section h1 {
  color: #6d7186;
  font: 17px/20px robotoRegular, sans-serif;
  margin-bottom: 56px;
}
#wrapper section form {
  position: relative;
}
#wrapper section form textarea {
  background-color: #3A3C46;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #fff;
  font: 17px/25px robotoRegular, sans-serif;
  height: 80px;
  outline: none;
  padding: 13px 156px 20px 13px;
  resize: none;
  width: 100%;
}
#wrapper section form textarea:focus {
  border: 1px solid #00a3ff;
}
#wrapper section form button {
  background-color: #00a3ff;
  border-radius: 9px;
  border: none;
  color: #fff;
  font: 14px/39px robotoMedium, sans-serif;
  height: 38px;
  outline: none;
  position: absolute;
  right: 20px;
  top: 21px;
  width: 100px;
}
#wrapper section h3 {
  color: #fff;
  font: 16px/18px robotoRegular, sans-serif;
  margin-top: 54px;
}
#wrapper section .empty_forum_text {
  border-radius: 9px;
  border: 1px dashed #6D6E75;
  color: #fff;
  display: block;
  font: 16px/18px robotoRegular, sans-serif;
  margin-top: 10px;
  padding: 35px;
  text-align: center;
}
#wrapper section > #forum_list {
  margin-top: 16px;
}
#wrapper section > #forum_list li {
  background-color: #1E1F25;
  border-radius: 10px;
  padding: 22px 30px 28px 30px;
}
#wrapper section > #forum_list li p {
  color: #fff;
  font: 16px/25px robotoItalic, sans-serif;
}
#wrapper section > #forum_list li .forum_details {
  margin-top: 12px;
  position: relative;
}
#wrapper section > #forum_list li .forum_details span {
  color: #A3A3FF;
  display: inline-block;
  font: 14px/16px robotoRegular, sans-serif;
  vertical-align: top;
}
#wrapper section > #forum_list li .forum_details span:first-child {
  border-right: 1px solid #A3A3FF;
  margin-right: 16px;
  padding-right: 16px;
}
#wrapper section > #forum_list li .forum_details .action_container {
  bottom: 5px;
  display: inline-block;
  position: absolute;
  right: 0px;
  vertical-align: top;
}
#wrapper section > #forum_list li .forum_details .action_container > button {
  background-color: #32333C;
  background-image: url("../images/the_wall_sprite_icon.svg");
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid #606066;
  height: 29px;
  width: 29px;
}
#wrapper section > #forum_list li .forum_details .action_container > button:hover {
  background-color: #fff;
  border-color: #fff;
}
#wrapper section > #forum_list li .forum_details .action_container > button.edit_btn {
  background-position: 49% 50%;
  transition: none;
}
#wrapper section > #forum_list li .forum_details .action_container > button.edit_btn:hover {
  background-position: -12% 50%;
}
#wrapper section > #forum_list li .forum_details .action_container > button.delete_btn {
  background-position: 79% 50%;
  transition: none;
}
#wrapper section > #forum_list li .forum_details .action_container > button.delete_btn:hover {
  background-position: 19% 50%;
}
#wrapper section > #forum_list li .forum_details .action_container .confirm_delete_container {
  background-color: #32333C;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #606066;
  display: none;
  height: 29px;
  margin-left: -5px;
  padding: 8px 5px 9px 9px;
  vertical-align: top;
  width: 146px;
}
#wrapper section > #forum_list li .forum_details .action_container .confirm_delete_container p {
  color: #fff;
  display: inline-block;
  font: 10px/11px robotoSemiBold, sans-serif;
  vertical-align: top;
}
#wrapper section > #forum_list li .forum_details .action_container .confirm_delete_container > button {
  background-color: transparent;
  border: none;
  color: #6D7186;
  display: inline-block;
  font: 10px/11px robotoRegular, sans-serif;
  vertical-align: top;
}
#wrapper section > #forum_list li .forum_details .action_container .confirm_delete_container > button.yes_btn {
  color: #A3A3FF;
}
#wrapper section > #forum_list li > form {
  margin-bottom: 0px;
  margin-top: 28px;
}
#wrapper section > #forum_list li .response_list li {
  border-bottom: 1px solid #3F404A;
  border-radius: 0px;
  margin-left: 15px;
  padding: 22px 0px 23px 0px;
}
#wrapper section > #forum_list li .response_list li:last-child {
  border-bottom: none;
}
#wrapper section > #forum_list > li {
  margin-bottom: 30px;
}
@media screen and (max-width: 1045px) {
  #wrapper section {
    padding: 0px 26px;
    width: 100%;
  }
}
